body
{
	background-color: 	#A9A9A9;
}
#form{
	border: solid gray 1px;
	width: 520%;
	background-position: center; 
	border-radius: 5px;
	margin: 100px auto;
	background-color: #A9A9A9;
	padding: 50px;
}
#btn
{
	color: #fff;
	background-color: #A9A9A9;
	padding: 50px;
	margin-left: 69%;
}